.search-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.search-section .title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  align-self: center;
}

.search-section .container {
  display: flex;
  gap: 20px;
}

.search-section .apply-filters-section {
  width: 250px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-section .main-jobs-section {
  flex-grow: 1;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-section .apply-filters-section .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: #007bff 2px solid;
}

.search-section .apply-filters-section .filter-header .apply-filter {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.search-section .apply-filters-section .filter-header .clear-all {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.search-section .apply-filters-section .filter-category {
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  border-bottom: #007bff 2px solid;
}

.search-section .apply-filters-section .filter-category .title {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}